<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.huangshp.ZPhoto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2019091402</string>
	<key>LSApplicationCategoryType</key>
	<string>NSPhotoLibraryAddUsageDescription</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>用摄像头来录制视频或用来拍照，用摄像头记录美好的瞬间.若不允许无法使用哦</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>获取您的声音或附近的音源,保存美妙的音.若不允许无法使用哦</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>想要把图片保存到相册中，若不同意无法把图片保存到相册中</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>想获取您相册中的图片或视频，想把视频或图片保存到您的相册中.若不允许无法使用哦</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>需要将您的语音转成文字，若不允许，无法转换</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
